.container-detail{
	
    margin: 30px auto;
	margin-top: 100px;
    margin-left: 600px;
    width: 30%;
	height: 60%;
	border-radius: 10px;
    box-shadow: 5px 5px 3px 7px rgba(0,0,0,0.25), 5px 5px 3px 7px rgba(0,0,0,0.22);
	transition: 0.8s;
	background-color:rgba(199, 158, 113, 0.5);
    display: flex;
	align-items:center;
	justify-content: space-around;
	flex-wrap: wrap;
    position:fixed;
}