.body {
	align-items: center;

}

.nav {

}

.container {
	padding: 2px 16px;

}

.flag {
	width: 10rem;
	height: 5rem;
}

.detail {

}

#card {
    margin: 30px auto;
    width: 20rem;
    height: 15rem;
    border-radius: 10px;
    transition: 0.8s;
    background-color:rgba(225, 229, 243, 0.555);
    display: flex;
	align-items:flex-end;
	justify-content: space-around;
	flex-direction:row;
	flex-wrap: wrap;
}


  .container, #card {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: minmax(100px, auto);
	gap: 2rem;
	width: 70%;
	max-width: 25rem;
	max-height: 15rem;
	justify-self:center;
	align-items:center;
	justify-content:space-around;
}


