.card {
    margin: 30px auto;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 10px 10px 6px 7px rgba(0,0,0,0.25), 10px 10px 6px 7px rgba(0,0,0,0.22);
    transition: 0.8s;
    background-color:rgba(225, 229, 243, 0.555);
    display: flex;
	align-items:flex-end;
	justify-content: space-around;
	flex-direction:row;
	flex-wrap: wrap;
}

.card h4{
    text-align: center;
   font-size: 1rem;
}

.card + .card {
    border-left: solid 1px #0000001e;
}

.card img {
    width: 100px;
    height: 55px;
    border: 1px black solid;
}