
body { 
  background-color: #111;
  background: url('../assets/IAX10-0027.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  position: absolute;
  bottom: 2.33vw;
  left: 7.8vw;
  height: 10vw;
  width: 10vw;



}
